<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSEnvironment</key>
	<dict>
		<key>OS_ACTIVITY_MODE</key>
		<string>disable</string>
	</dict>
	<key>NSScreenCaptureUsageDescription</key>
	<string>Clio needs screen recording access to understand context from your screen for improved transcription accuracy.</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUEnableSystemProfiling</key>
	<false/>
	<key>SUFeedURL</key>
	<string>https://www.cliovoice.com/online/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>CnNFwroOCH4HhKIGZrbezBeZqKqYPHAboNdNss3DETc=</string>
	<key>SupportEmail</key>
	<string>jetson@cliovoice.com</string>
</dict>
</plist>
